.fav-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin: 0.75rem;
  cursor: pointer;
}

.filters-container {
  border-right: 0.18rem solid #dee2e6;
  height: 100%;
}

.recipe-card {
  --bs-card-height: 20rem !important;
}

.smaller-text {
  font-size: 0.8rem;
}

.smaller-title {
  font-size: 1rem !important;
}

@media (max-width: 992px) {
.smaller-text {
    font-size: 0.7rem;
  }
  .smaller-title {
    font-size: 0.9rem !important;
  }
}

@media (max-width: 768px) {
  .smaller-text {
    font-size: 0.6rem;
  }

  .smaller-title {
    font-size: 0.8rem !important;
  }
}

@media (max-width: 576px) {
  .smaller-text {
    font-size: 0.5rem;
  }

  .smaller-title {
    font-size: 0.6rem !important;
  }
}