.fav-btn-badge {
  position: relative;
  top: 0;
  right: 0;
  cursor: pointer;
  border: 0.1px rgba(223, 215, 202, 0.75) solid;
  background-color: #FFFFFF;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}