@media (max-width: 992px) {
  .header-text,
  .header-title {
    background-color: rgba(255, 255, 255, .7);
  }
}

.header-image {
  background-image:
    /* linear-gradient(to right, rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.2)), */
    url("../assets/brooke-lark-08bOYnH_r_E-unsplash.jpg");
  background-size: cover;
  background-position: 90% 12%;
  background-repeat: no-repeat;
  min-height: calc(20vh - 74px);
}
