.sort-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.sort-group {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.load-container {
  display: flex;
  justify-content: center;
}