/* div.mb-4.row {
  padding: 0;
}

.search-card {
  padding: 2rem;
}

.load-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
*/

.sort-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.sort-group {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: end;
}