.signup-background {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)), url('https://stellaskitchenco.com/cdn/shop/files/tablescape_2.jpg?v=1693317520&width=3840');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 74px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.password-warning {
  color: red;
  margin: 0 0 10px 0;
  font-size: smaller;
  text-align: end;
}

.signup-card {
  width: 50%;
}

